{{<layout}}

{{$pageTitle}}
	DVLA Design Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	
	<form action="examples/elements/start" method="get" class="get-started" style="margin-top:1.5em">

	<h1 class="heading-large">Driving Services Prototype</h1>


	<p>A look at what a more integrated driving and vehicle service might look like.</p>



	<div class="form-group" style="margin:1.5em 0 1.5em 0">
		<input type="submit" class="button" value="Start">
	</div>

	</form>

	
	



	<h2 class="heading-medium">Other DVLA pages</h2>

	<ul class="list-bullet">
	<li>
			<a href="/examples/elements/start-ves">
				Vehicle Enquiry Service (VES) - Start page
			</a>
		</li>
		<li>
			<a href="/examples/elements/ves-form">
				Vehicle Enquiry Service (VES) - Form (reg number + make, optionally V5C)
			</a>
		</li>
		<li>
			<a href="/examples/elements/ves-result-taxneeded">
				Vehicle Enquiry Service (VES) - Tax needed
			</a>
		</li>
		<li>
			<a href="/examples/elements/vvr-mot-info">
				VES / MOT info (OLD)
			</a>
		</li>
		</ul>





	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
